body {
    background-color: rgb(15, 15, 15);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: fit-content;
    width: 80%;
    margin: 0px auto;
}

.k-r {
    width: 80%;
    height: 50px;
    margin: 90px auto;
    border: 2px solid black;
    box-shadow: 0px 0px 20px rgba(236, 50, 50, 0.829);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k-r>span {

    width: 9.5%;
    height: 40px;
    margin: 1px 1.5%;
    border-radius: 6px;
    background-color: brown;
    justify-content: center;
    align-items: center;
}